body {
    background-color: rgb(250, 144, 218);
    background-image: url(hearts.jpg);

}

.Titulo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}


.Snoopy {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.audio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}